@import url('GamePage.css');
@import url('LibraryHome.css');
@import url('MiniProfile.css');
@import url('SideBar.css');
@import url('Scrollbar.css');
* {
    transition: 0s !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
:root {
    --black: #000000;
    --darkgrey: #1e1e1f;
    --grey: #2e2e2f;
    --lightgrey: #3e3e3f;
    --white: #ffffff;
    --purple: #6624e2;
    --green: #33FF00;
    --blue: #0066FF;
    --pink: #FF00FF;
    --red: #FF0000;
    --orange: #FF6600;
    --yellow: #FFFF00;
    --offlinegrey: #4a4a4a;
    --ingamegreen: #33b5e5;
    --onlineblue: #dcdcdc;
    --yourcolor: #33b5e5;
    --invisiblegrey: rgba(62, 62, 62, 0.24);
    --invisibleblack: rgba(0, 0, 0, 0);
    --scrollbar: var(--yourcolor);
    --backdropblur: var(--invisiblegrey);
    --libraryhome: var(--yourcolor);
    --progressbar: var(--yourcolor);
    --gamelist: var(--yourcolor);
    --titlehover: var(--invisibleblack);
    --titlenamehover: var(--yourcolor);
    --gamehover: var(--white);
    --textcolor: var(--yourcolor);
    --pending: var(--red);
    --offline: var(--offlinegrey);;
    --ingame: var(--ingamegreen);
    --online: var(--onlineblue);
    --Corner0: 4px  !important;
    --Corner1: 10px !important;
    --Corner2: 20px !important;
    --Corner3: 30px !important;
    --Corner4: 40px !important;
    --Corner5: 50px !important;
    --Corner6: 60px !important;
    --FontSize: 15px;
    --Font: "Motiva Sans", Arial, Helvetica, sans-serif;;
    --FontStyle: uppercase;
    --LetterSpacing: 3px !important;
    --YourLibraryName: "Library" !important;
    --BackgroundColor: transparent;
    --LibraryButton: flex;
    --LibrarySearch: flex;
    --WhatsNew: block;
    --Recent: block;
    --TitleColor: var(--textcolor);
    --TitleFont: 500;
    --GameIcons: none;
    --FriendInGameIcon: none;
    --FriendInGameIconPosition: -12px;
    --FlatColor: #000000;
    --FuckBlur: blur(0px);
    --BackgroundBlur: none;
    --ImageBlur: hidden;
    --ImageHeight: 320px;
    --CoverHover: show;
    --GamePlayHeader: flex;
    --ButtonPlay: var(--libraryhome);
    --ButtonPlay2: var(--libraryhome);
    --ButtonPlayHover: #70d61d;
    --ButtonPlayHover2: #01a75b;
    --ButtonInstall: var(--libraryhome);
    --ButtonInstall2: var(--libraryhome);
    --ButtonInstallHover: #47bfff;
    --ButtonInstallHover2: #1a44c2;
}