@import url("https://raw.githack.com/AdventGit/Steam-Things/master/crossvars.css");

div.allcollections_Rule_2wbrx,
div.allcollections_ScrollContainer_u1xD3,
div.gamelistbar_Container_3x1Hk,
div.gamelistsearchbar_AdvancedSearchContainer_vCCmY,
div.libraryhomenewupdates_GameIconAndName_3_xMy,
div.libraryhomeshowcases_Rule_1PhK8,
div.libraryhomeshowcases_ShowcaseHeader_23Snl div.libraryhomeshowcases_SortingDropDown_30PVt > div:nth-child(2) > :last-child:before,
div.libraryhome_Container_2gSXC,
div.libraryhome_UpdatesContainer_17uEB,
div.library_AppDetailsTransitionGroup_2Dd4T,
div.library_LibraryWindowDivider_276E6,
div.pageablecontainer_Rule_3kmsu,
input.DialogInput {
    background: transparent !important;
}

div.appactivityday_Event_UVeN0 div.appactivityday_EventBody_NEMXh,
div.appactivityday_PartnerEventMediumImage_Container_1HZy7,
div.appactivityday_PartnerEvent_1AYE1,
div.appdetailscommunityfeed_ArtItem_1aP1b div.appdetailscommunityfeed_BottomSection_3uabi,
div.appdetailscommunityfeed_AuthorSection_1ul9Z,
div.appdetailscommunityfeed_ChildItem_2EOPV,
div.appdetailscommunityfeed_Guide_-85o5 div.appdetailscommunityfeed_Header_l0pbv,
div.appdetailscommunityfeed_Guide_-85o5 div.appdetailscommunityfeed_TopSectionInner_1dJuv,
div.appdetailscommunityfeed_HeaderStyles_2lNdD,
div.appdetailsoverview_BackdropGlass_Jbe--,
div.appdetailsoverview_ColumnContainer_OhSdL,
div.appdetailsplaysection_PlayBar_3fLo1,
div.appdetailssection_AppDetailsSectionContainer_31ptF,
div.appdetailssection_Highlight_38t1m,
div.appdetailstradingcardssection_Card_1WsOn.appdetailstradingcardssection_Unowned_1A6NC div.appdetailstradingcardssection_CardContainer_2DUDv,
div.smartscrollcontainer_ScrollToTopButton_1J21t div,
div.spotlight_AppDetailsSpotlightContainer_1zDJ1,
textarea {
    background: rgb(0,0,0) !important;
    backdrop-filter: none !important;
    border: none !important;
    box-shadow: none !important;
}

div.appdetailsfriendssection_AvatarAndLabel_1GCZA div.ingame * {
    color: rgb(var(--ingame)) !important;
}

div.appdetailsfriendssection_AvatarAndLabel_1GCZA div.offline * {
    color: rgb(var(--offline)) !important;
}

div.appdetailsfriendssection_AvatarAndLabel_1GCZA div.online * {
    color: rgb(var(--online)) !important;
}